* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.main-container {
  width: 100%;
}

header .promo {
  background-color: #000000;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 11px;
  text-align: center;
}
header .mobileNav {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #d6ff37;
}
@media screen and (max-width: 640px) {
  header .mobileNav {
    display: flex;
  }
}
header .mobileNav a {
  text-decoration: none;
  color: #000000;
}
header .mobileNav a h2 {
  padding: 20px;
  font-size: 1.8rem;
}
header .mobileNav .icons {
  display: flex;
}
header .mobileNav .icons i {
  padding-right: 20px;
  font-size: 2rem;
}
header nav {
  width: 100%;
  display: flex;
  min-width: 1030px;
  border: 1px solid black;
}
@media screen and (max-width: 640px) {
  header nav {
    display: none;
  }
}
header nav .logo {
  background-color: #d6ff37;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  flex: 0.8;
  border-right: 1px solid black;
}
header nav .empty {
  flex: 3;
}
header nav .cart {
  flex: 1;
  text-align: center;
  align-self: center;
  font-size: 1.2rem;
}
header nav .cart i {
  padding: 0 10px;
  font-size: 1.5rem;
}
header nav ul {
  display: flex;
  list-style: none;
  flex: 2;
}
header nav ul a {
  text-decoration: none;
  color: #202f3c;
  flex: 2;
}
header nav ul li {
  color: #202f3c;
  flex: 2;
  padding: 20px 0;
  border-right: 1px solid black;
  text-align: center;
  font-size: 1.2rem;
  transition: all 0.6s;
}
header nav ul li:hover {
  background-color: #000000;
  color: #d6ff37;
  cursor: pointer;
}

main .top .text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4rem;
}
main .top .text h1 {
  font-size: 5rem;
  margin-top: 20px;
}
main .top .text p {
  background-color: #d6ff37;
  font-size: 1.5rem;
  padding: 0.2rem 3rem;
}
main .top .selections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  height: 41vh;
  min-width: 1030px;
}
@media screen and (max-width: 640px) {
  main .top .selections {
    display: none;
  }
}
main .top .selections .container1 {
  background-image: url("../images/Mergina.webp");
  background-size: cover;
  background-position: center;
  flex: 0 0 20%;
  transition: all 0.6s;
}
main .top .selections .container1:hover {
  opacity: 0.6;
  cursor: pointer;
}
main .top .selections .container2 {
  background-image: url("../images/center.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 57%;
  transition: all 0.6s;
}
main .top .selections .container2:hover {
  opacity: 0.6;
  cursor: pointer;
}
main .top .selections .container3 {
  background-image: url("../images/Vyrukas.webp");
  background-size: cover;
  background-position: center;
  flex: 0 0 22%;
  transition: all 0.6s;
}
main .top .selections .container3:hover {
  opacity: 0.6;
  cursor: pointer;
}
main .products {
  width: 90%;
  margin: auto;
}
main .products h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
main .products .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
main .products .items .item {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 0 0 23%;
  margin: 30px 0;
  transition: all 0.6s;
}
@media screen and (max-width: 640px) {
  main .products .items .item {
    flex: 0 0 40%;
  }
}
main .products .items .item:hover {
  opacity: 0.6;
  cursor: pointer;
}
main .products .items .item .image {
  position: relative;
}
main .products .items .item .image img {
  width: 100%;
}
main .products .items .item .image .bestSeller {
  position: absolute;
  background-color: #000000;
  color: #d6ff37;
  font-size: 1rem;
  padding: 2px 10px;
}
main .products .items .item p {
  padding: 5px;
  margin-left: 20px;
  font-size: 1.2rem;
}
main .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .bottom button {
  border: none;
  font-size: 1.2rem;
  padding: 10px 50px;
  background-color: #000000;
  border: 2px solid black;
  color: #d6ff37;
  margin: 40px 0;
  transition: all 0.6s;
}
main .bottom button:hover {
  background-color: #d6ff37;
  cursor: pointer;
  color: black;
}
main .bottom .sale {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 640px) {
  main .bottom .sale {
    display: flex;
    flex-direction: column;
  }
}
main .bottom .sale .sidepic {
  background-image: url("../images/side-photo.jpeg");
  background-size: cover;
  background-position: top;
  width: 40%;
  flex: 0 0 4;
}
@media screen and (max-width: 640px) {
  main .bottom .sale .sidepic {
    width: 100%;
    height: 50vh;
    flex: 0 0 1;
  }
}
main .bottom .sale .gradient {
  flex: 0 0 6;
  width: 60%;
  height: 70vh;
  background: linear-gradient(to top, #bee14c, #fdfff5);
  position: relative;
}
@media screen and (max-width: 640px) {
  main .bottom .sale .gradient {
    width: 100%;
    height: 50vh;
    flex: 0 0 1;
  }
}
main .bottom .sale .gradient .text {
  position: absolute;
  left: 25%;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 640px) {
  main .bottom .sale .gradient .text {
    top: 15%;
    left: 10%;
  }
}
main .bottom .sale .gradient .text span {
  font-size: 1.5rem;
}
main .bottom .sale .gradient .text h2 {
  font-size: 6rem;
}
@media screen and (max-width: 640px) {
  main .bottom .sale .gradient .text h2 {
    font-size: 5rem;
  }
}
main .bottom .sale .gradient .text .fa-sharp {
  font-size: 2.5rem;
}
main .bottom .firstOrder {
  text-align: center;
  margin: 40px 0;
}
main .bottom .firstOrder h2 {
  display: inline;
  font-size: 2.5rem;
  text-decoration: underline;
}
@media screen and (max-width: 640px) {
  main .bottom .firstOrder h2 {
    font-size: 1.2rem;
  }
}
main .bottom .firstOrder i {
  margin: 0 50px;
  font-size: 3rem;
}
@media screen and (max-width: 640px) {
  main .bottom .firstOrder i {
    display: block;
    transform: rotate(90deg);
    margin: 20px 0;
  }
}

footer {
  border: 1px solid black;
}
footer .first {
  display: flex;
  width: 100%;
  line-height: 2;
}
@media screen and (max-width: 640px) {
  footer .first {
    flex-direction: column;
  }
}
footer .first .black {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
}
@media screen and (max-width: 640px) {
  footer .first .black {
    align-items: start;
    width: 100%;
    align-items: left;
    padding: 20px 0;
  }
  footer .first .black h2, footer .first .black p {
    padding-left: 20px;
  }
}
footer .right {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 7;
}
@media screen and (max-width: 640px) {
  footer .right {
    flex-direction: column;
    align-items: start;
    flex: 2;
  }
}
footer .right .clmn {
  text-align: left;
  padding: 80px;
  font-size: 0.9rem;
}
@media screen and (max-width: 640px) {
  footer .right .clmn {
    padding: 20px;
    font-size: 1rem;
  }
}
footer .right .clmn span {
  font-size: 1.3rem;
}
footer .second {
  display: flex;
}
@media screen and (max-width: 640px) {
  footer .second {
    flex-direction: column;
  }
}
footer .second .social {
  flex: 3;
  text-align: center;
  font-size: 1.3rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
footer .second .social i {
  padding: 20px 10px;
}
footer .second .social i:hover {
  color: #d6ff37;
  cursor: pointer;
}
footer .second .copyRight {
  flex: 7;
  text-align: center;
  background-color: #d6ff37;
  border-top: 1px solid black;
}
footer .second .copyRight p {
  padding: 20px 0;
}

.chat {
  background-color: #000000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.chat:hover {
  cursor: pointer;
}
.chat:hover i {
  color: #d6ff37;
}
.chat i {
  color: white;
  font-size: 2.5rem;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */