* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

header .promo {
  background-color: #000000;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 11px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  header .promo {
    display: none;
  }
}
header .mobileNav {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(214, 255, 55, 0.9);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}
@media screen and (max-width: 640px) {
  header .mobileNav {
    display: flex;
  }
}
header .mobileNav a {
  text-decoration: none;
  color: #000000;
}
header .mobileNav a h2 {
  padding: 20px;
  font-size: 1.8rem;
}
header .mobileNav .icons {
  display: flex;
}
header .mobileNav .icons i {
  padding-right: 20px;
  font-size: 2rem;
}
header .mobileNavBar {
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
  right: -150px;
  top: 76px;
  border-bottom-left-radius: 5%;
  transition: all 0.5s;
}
header .mobileNavBar ul {
  list-style: none;
  padding: 20px;
}
header .mobileNavBar ul li {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 0;
}
header .mobileNavBar ul li a {
  text-decoration: none;
  color: #d6ff37;
}
header nav {
  width: 100%;
  display: flex;
  min-width: 1030px;
  border: 1px solid black;
}
@media screen and (max-width: 640px) {
  header nav {
    display: none;
  }
}
header nav .home {
  text-decoration: none;
  color: #202f3c;
  background-color: #d6ff37;
  border-right: 1px solid black;
  flex: 0.8;
}
header nav .logo {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}
header nav .empty {
  flex: 3;
}
header nav .cart {
  flex: 1;
  text-align: center;
  align-self: center;
  font-size: 1.2rem;
}
header nav .cart i {
  padding: 0 10px;
  font-size: 1.5rem;
}
header nav ul {
  display: flex;
  list-style: none;
  flex: 2;
}
header nav ul a {
  text-decoration: none;
  color: #202f3c;
  flex: 2;
}
header nav ul li {
  color: #202f3c;
  flex: 2;
  padding: 20px 0;
  border-right: 1px solid black;
  text-align: center;
  font-size: 1.2rem;
  transition: all 0.6s;
}
header nav ul li:hover {
  background-color: #000000;
  color: #d6ff37;
  cursor: pointer;
}

main {
  width: 90%;
  margin: 30px auto;
}
main .top {
  display: flex;
  justify-content: space-between;
}
main .top p {
  word-spacing: 0.3rem;
  padding: 40px 0;
}
main .top p a {
  text-decoration: none;
  color: #000000;
}
main .top p span {
  color: #b6b6b6;
}
main .product {
  display: flex;
  gap: 40px;
  justify-content: center;
}
@media screen and (max-width: 640px) {
  main .product {
    flex-direction: column;
    align-items: center;
  }
}
main .product .picture {
  margin: 20px 0;
  width: 500px;
}
@media screen and (max-width: 640px) {
  main .product .picture {
    width: 100%;
  }
}
main .product .picture img {
  border: 1px solid black;
  width: 100%;
}
@media screen and (max-width: 640px) {
  main .product .picture img {
    border: none;
  }
}
main .product .picture p {
  margin: 40px 0;
  line-height: 1.5rem;
}
@media screen and (max-width: 640px) {
  main .product .picture p {
    display: none;
  }
}
main .product .description {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin: 20px 0;
}
main .product .description h2 {
  font-size: 2.5rem;
}
main .product .description span {
  font-size: 0.9rem;
}
main .product .description .price {
  font-size: 1.3rem;
  margin: 15px 0;
  color: #5a5a5a;
}
main .product .description .quantity {
  font-size: 1.2rem;
  width: 50px;
  padding: 10px 20px 10px 10px;
  border: 1px solid #b5b3b3;
  margin: 10px 0;
}
main .product .description button {
  background-color: #000000;
  color: #d6ff37;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  margin: 20px 0;
}
main .product .description h3 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}
main .product .description p {
  line-height: 1.5rem;
  font-weight: 300;
}
main .product .description .policy {
  padding: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

footer {
  border: 1px solid black;
}
footer .first {
  display: flex;
  width: 100%;
  line-height: 2;
}
@media screen and (max-width: 640px) {
  footer .first {
    flex-direction: column;
  }
}
footer .first .black {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
}
@media screen and (max-width: 640px) {
  footer .first .black {
    align-items: start;
    width: 100%;
    align-items: left;
    padding: 20px 0;
  }
  footer .first .black h2, footer .first .black p {
    padding-left: 20px;
  }
}
footer .right {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 7;
}
@media screen and (max-width: 640px) {
  footer .right {
    flex-direction: column;
    align-items: start;
    flex: 2;
  }
}
footer .right .clmn {
  text-align: left;
  padding: 80px;
  font-size: 0.9rem;
}
@media screen and (max-width: 640px) {
  footer .right .clmn {
    padding: 20px;
    font-size: 1rem;
  }
}
footer .right .clmn span {
  font-size: 1.3rem;
}
footer .second {
  display: flex;
}
@media screen and (max-width: 640px) {
  footer .second {
    flex-direction: column;
  }
}
footer .second .social {
  flex: 3;
  text-align: center;
  font-size: 1.3rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
footer .second .social i {
  padding: 20px 10px;
}
footer .second .social i:hover {
  color: #d6ff37;
  cursor: pointer;
}
footer .second .copyRight {
  flex: 7;
  text-align: center;
  background-color: #d6ff37;
  border-top: 1px solid black;
}
footer .second .copyRight p {
  padding: 20px 0;
}

.chat {
  background-color: #000000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.chat:hover {
  cursor: pointer;
}
.chat:hover i {
  color: #d6ff37;
}
.chat i {
  color: white;
  font-size: 2.5rem;
  padding: 10px;
}/*# sourceMappingURL=styles.css.map */