* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

header .promo {
  background-color: #000000;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 11px;
  text-align: center;
}
header .mobileNav {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #d6ff37;
}
@media screen and (max-width: 640px) {
  header .mobileNav {
    display: flex;
  }
}
header .mobileNav a {
  text-decoration: none;
  color: #000000;
}
header .mobileNav a h2 {
  padding: 20px;
  font-size: 1.8rem;
}
header .mobileNav .icons {
  display: flex;
}
header .mobileNav .icons i {
  padding-right: 20px;
  font-size: 2rem;
}
header nav {
  width: 100%;
  display: flex;
  min-width: 1030px;
  border: 1px solid black;
}
@media screen and (max-width: 640px) {
  header nav {
    display: none;
  }
}
header nav .home {
  text-decoration: none;
  color: #202f3c;
  background-color: #d6ff37;
  border-right: 1px solid black;
  flex: 0.8;
}
header nav .logo {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}
header nav .empty {
  flex: 3;
}
header nav .cart {
  flex: 1;
  text-align: center;
  align-self: center;
  font-size: 1.2rem;
}
header nav .cart i {
  padding: 0 10px;
  font-size: 1.5rem;
}
header nav ul {
  display: flex;
  list-style: none;
  flex: 2;
}
header nav ul a {
  text-decoration: none;
  color: #202f3c;
  flex: 2;
}
header nav ul li {
  color: #202f3c;
  flex: 2;
  padding: 20px 0;
  border-right: 1px solid black;
  text-align: center;
  font-size: 1.2rem;
  transition: all 0.6s;
}
header nav ul li:hover {
  background-color: #000000;
  color: #d6ff37;
  cursor: pointer;
}

main .top .label {
  background: linear-gradient(to top, #bee14c, #fdfff5);
  height: 255px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .top .label h1 {
  font-size: 5rem;
  margin-top: 20px;
}

.products {
  width: 90%;
  margin: auto;
}
.products h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.products .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.products .items a {
  text-decoration: none;
  color: black;
  flex: 0 0 23%;
}
@media screen and (max-width: 640px) {
  .products .items a {
    flex: 0 0 40%;
  }
}
.products .items a .item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0;
  transition: all 0.6s;
}
.products .items a .item:hover {
  opacity: 0.6;
  cursor: pointer;
}
.products .items a .item .image {
  position: relative;
}
.products .items a .item .image img {
  width: 100%;
}
.products .items a .item .image .bestSeller {
  position: absolute;
  background-color: #000000;
  color: #d6ff37;
  font-size: 1rem;
  padding: 2px 10px;
}
.products .items a .item p {
  padding: 5px;
  margin-left: 20px;
  font-size: 1.2rem;
}

footer {
  border: 1px solid black;
}
footer .first {
  display: flex;
  width: 100%;
  line-height: 2;
}
@media screen and (max-width: 640px) {
  footer .first {
    flex-direction: column;
  }
}
footer .first .black {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
}
@media screen and (max-width: 640px) {
  footer .first .black {
    align-items: start;
    width: 100%;
    align-items: left;
    padding: 20px 0;
  }
  footer .first .black h2, footer .first .black p {
    padding-left: 20px;
  }
}
footer .right {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 7;
}
@media screen and (max-width: 640px) {
  footer .right {
    flex-direction: column;
    align-items: start;
    flex: 2;
  }
}
footer .right .clmn {
  text-align: left;
  padding: 80px;
  font-size: 0.9rem;
}
@media screen and (max-width: 640px) {
  footer .right .clmn {
    padding: 20px;
    font-size: 1rem;
  }
}
footer .right .clmn span {
  font-size: 1.3rem;
}
footer .second {
  display: flex;
}
@media screen and (max-width: 640px) {
  footer .second {
    flex-direction: column;
  }
}
footer .second .social {
  flex: 3;
  text-align: center;
  font-size: 1.3rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
footer .second .social i {
  padding: 20px 10px;
}
footer .second .social i:hover {
  color: #d6ff37;
  cursor: pointer;
}
footer .second .copyRight {
  flex: 7;
  text-align: center;
  background-color: #d6ff37;
  border-top: 1px solid black;
}
footer .second .copyRight p {
  padding: 20px 0;
}

.chat {
  background-color: #000000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.chat:hover {
  cursor: pointer;
}
.chat:hover i {
  color: #d6ff37;
}
.chat i {
  color: white;
  font-size: 2.5rem;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */